.navbar{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
.home{
    cursor: pointer;
}
.rules{
    font-size: 1.5em;
    padding: 0.5rem;
}
.rules:hover{
    background-color: rgb(201, 217, 230);
    border-radius: 0.5rem;
    cursor: pointer;
}